<div>
  <% kwds.forEach(kwd => { %>
  <div class="list-link">
    <a href="/kwds/<%= kwd.id %>"> <%= kwd.keyWord %> </a>
    <a href="/kwds/<%= kwd.mainKwd ? kwd.mainKwd : null %>"
      ><%= kwd.mainKwd ? kwd.mainKwd.keyWord : null %></a
    >
    <%= kwd.wordCount %>
  </div>
  <% }) %>
</div>
