<div>
  <label>keyWord</label>
  <input type="text" name="keyWord" value="<%= kwd.keyWord %>" />
</div>
<div>
  <label>main Keyword</label>
  <select name="mainKwd">
    <% if (kwd.mainKwd) { %>
    <option selected label="---" value="<%= null %>"></option>
    <% } else { %>
    <option label="---" value="<%= null %>"></option>
    <% } %> <% kwds.forEach(kwd => { %> <% if (kwd.id ?? null == mainKwd.id ??
    null) { %>
    <option selected label="<%=kwd.keyWord %>" value="<%= kwd.id %>"></option>
    <% } else { %>
    <option label="<%=kwd.keyWord %>" value="<%= kwd.id %>"></option>
    <% } %> <% }) %>
  </select>
</div>
<div>
  <label>field</label>
  <select name="fld">
    <% flds.forEach(fld => { %> <% if (fld.id == kwd.fld) { %>
    <option selected label="<%=fld.field %>" value="<%= fld.id %>"></option>
    <% } else { %>
    <option label="<%=fld.field %>" value="<%= fld.id %>"></option>
    <% } %> <% }) %>
  </select>
</div>
