<div>
  <label>keyWord</label>
  <input type="text" name="keyWord" value="<%= kwd.keyWord %>" />
</div>
<div>
  <label>mainKeyWord</label>
  <select name="mainKeyword">
    <option selected label="---" value=""></option>
    <% kwds.forEach(kwd => { %> <% if (kwd.id === kwd.mainKeyWord) { %>
    <option selected label="<%=kwd.keyWord %>" value="<%= kwd.id %>"></option>
    <% } else { %>
    <option label="<%=kwd.keyWord %>" value="<%= kwd.id %>"></option>
    <% } %> <% }) %>
  </select>
</div>
<div>
  <label>field</label>
  <select name="fld">
    <% flds.forEach(fld => { %> <% if (fld.id === kwd.field) { %>
    <option selected label="<%=fld.field %>" value="<%= fld.id %>"></option>
    <% } else { %>
    <option label="<%=fld.field %>" value="<%= fld.id %>"></option>
    <% } %> <% }) %>
  </select>
</div>
