<h2>All KWDs</h2>
<form action="/kwds" method="GET">
  <label>keyWord</label>
  <input type="text" name="keyWord" value="<%= searchOptions.keyWord %>" />
  <label>mainKeyWord</label>
  <input
    type="text"
    name="mainKeyword"
    value="<%= searchOptions.mainKeyword %>"
  />
  <label>field</label>
  <input type="text" name="field" value="<%= searchOptions.field %>" />
  <br />
  <button type="submit">Search</button>
</form>
<br />
<% kwds.forEach(kwd => { %>
<div><%= kwd.keyWord %></div>
<div><%= kwd.mainKeyword %></div>
<div><%= kwd.field %></div>
<br />
<% }) %>
