<h2>All KWDs</h2>
<form action="/kwds" method="GET">
  <div>
    <label>keyWord</label>
    <input type="text" name="keyWord" value="<%= searchOptions.keyWord %>" />
  </div>
  <div>
    <label>mainKeyWord</label>
    <input
      type="text"
      name="mainKeyword"
      value="<%= searchOptions.mainKeyword %>"
    />
  </div>
  <div>
    <label>field</label>
    <input type="text" name="field" value="<%= searchOptions.field %>" />
  </div>
  <br />
  <button type="submit">Search</button>
</form>
<br />
<% kwds.forEach(kwd => { %>
<div><%= kwd._id %></div>
<div><%= kwd.keyWord %></div>
<div><%= kwd.mainKeyword %></div>
<div><%= kwd.field %></div>
<br />
<% }) %>
