<h2>KeyWorDs <a class="btn btn-primary" href="/kwds/new">+</a></h2>
<form action="/kwds" method="GET">
  <div>
    <label>keyWord</label>
    <input type="text" name="keyWord" value="<%= searchOptions.keyWord %>" />
  </div>
  <div>
    <label>field</label>
    <select name="fld">
      <option selected label="---" value="<%= null %>"></option>
      <% flds.forEach(fld => { %>
      <option label="<%=fld.field %>" value="<%= fld.id %>"></option>
      <% }) %>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<br />
<% kwds.forEach(kwd => { %>
<br />
<div>
  <%= kwd.keyWord %>
  <a href="/kwds/<%= kwd.mainKwd ? kwd.mainKwd.id : null %>">
    <%= kwd.mainKwd ? kwd.mainKwd.keyWord : null %></a
  >
</div>
<div></div>
<div class="btn-row">
  <div><a href="/flds/<%= kwd.fld.id %>"><%= kwd.fld.field %></a></div>
  <a class="btn btn-primary" href="/kwds/<%= kwd.id %>">View</a>
  <a class="btn btn-primary" href="/kwds/<%= kwd.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/kwds/${kwd.id}` }) %>
</div>
<% }) %>
<h2><a class="btn btn-primary" href="/kwds/new">Add more</a></h2>
