<h2>Search KeyWorDs</h2>
<form action="/kwds" method="GET">
  <div>
    <label>keyWord</label>
    <input type="text" name="keyWord" value="<%= searchOptions.keyWord %>" />
  </div>
  <div>
    <label>field</label>
    <select name="fld">
      <option selected label="---" value=""></option>
      <% flds.forEach(fld => { %>
      <option label="<%=fld.field %>" value="<%= fld.id %>"></option>
      <% }) %>
    </select>
  </div>
  <br />
  <button type="submit">Search</button>
</form>
<br />
<% kwds.forEach(kwd => { %>
<div><%= kwd.keyWord %></div>
<div><%= kwd.mainKwd %></div>
<div><%= kwd.fld.field %></div>
<a href="/kwds/<%= kwd.id %>">View</a>
<a href="/kwds/<%= kwd.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/kwds/${kwd.id}` }) %> <% }) %>
