<h2>
  <div class="btn-row">
    keyWord: <%= kwd.keyWord %> <% if (kwd.mainKwd) %>
    <div class="list-link">
      <a href="/kwds/<%= kwd.mainKwd ? kwd.mainKwd.id : null %>">
        <%= kwd.mainKwd ? kwd.mainKwd.keyWord : null%></a
      >
    </div>
    <div class="form-row-end">
      <a class="btn btn-primary" href="/kwds/new"> + </a>
    </div>
  </div>
</h2>
<div class="list-link">
  Field:
  <a href="/flds/<%= kwd.fld.id %>"><%= kwd.fld.field %></a>
</div>
<div class="btn-row">
  <a class="btn btn-primary" href="/kwds/<%= kwd.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',{url:`/kwds/${kwd.id}`}) %>
</div>
<% if (kwdsByMainKwd.length > 0) { %>
<h3 class="page-header">Keywords By Field</h3>
<%- include('../partials/kwdList', { kwds: kwdsByMainKwd }) %> <% } %>
