<h2>
  <div class="btn-row">
    keyWord:<%= kwd.keyWord %> <% if (kwd.mainKwd) %>
    <a href="/kwds/<%= kwd.mainKwd ? kwd.mainKwd.id : null %>">
      <%= kwd.mainKwd ? kwd.mainKwd.keyWord : null%></a
    >
  </div>
  <div class="form-row-end">
    <a class="btn btn-primary" href="/kwds/new"> + </a>
  </div>
</h2>
<div>
  <h3>
    Field:
    <a class="btn btn-primary" href="/flds/<%= kwd.fld.id %>"
      ><%= kwd.fld.field %></a
    >
  </h3>
</div>
<div>
  <a href="/kwds/<%= kwd.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',{url:`/kwds/${kwd.id}`}) %>
</div>
<% if (kwdsByMainKwd.length > 0) { %>
<h3 class="page-header">Keywords By Field</h3>
<%- include('../partials/kwdList', { kwds: kwdsByMainKwd }) %> <% } %>
