<h2>Candidates</h2>
<form method="GET" action="/candidates">
  <div>
    <label>id</label>
    <input type="number" name="id" value="<%= searchOptions.id %>" />
  </div>
  <div>
    <label>firstName</label>
    <input type="text" name="firstName" value="<%=searchOptions.firstName %>" />
  </div>
  <div>
    <label>lastName</label>
    <input type="text" name="lastName" value="<%=searchOptions.lastName %>" />
  </div>
  <div>
    <label>title</label>
    <input type="text" name="title" value="<%=searchOptions.title %>" />
  </div>
  <div>
    <label>email1</label>
    <input type="text" name="email1" value="<%=searchOptions.email1 %>" />
  </div>
  <div>
    <label>skills</label>
    <textarea name="skills"><%= searchOptions.skills %></textarea>
    <br />
  </div>
  <br /><button type="submit">Search</button>
  <input type="hidden" name="injectUrl" value="candidates/inject" />
</form>
<form method="POST" action="/candidates/inject">
  <br /><button type="submit">Inject Candidates</button>
</form>
<br />
<% if (candidates && candidates.length) { %>
<div><%= candidates.length %> candidates found</div>
<br />
<% candidates.forEach(candidate =>{ %>
<a href="/candidates/<%= candidate.id %>"
  ><%= candidate.attributes.firstName %> <%= candidate.attributes.lastName %>
  {<%= candidate.id %>}</a
>
<br />
<% }) %> <% } else { %>
<div>No candidates found.</div>
<% } %>
