<h2 class="page-header">Candidates</h2>
<form>
  <div class="form-row">
    <div class="form-item">
      <label>id</label>
      <input type="number" name="id" value="<%= searchOptions.id %>" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>firstName</label>
      <input
        type="text"
        name="firstName"
        value="<%=searchOptions.firstName %>"
      />
    </div>
    <div class="form-item">
      <label>lastName</label>
      <input type="text" name="lastName" value="<%=searchOptions.lastName %>" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>title</label>
      <input type="text" name="title" value="<%=searchOptions.title %>" />
    </div>
    <div class="form-item">
      <label>email1</label>
      <input type="text" name="email1" value="<%=searchOptions.email1 %>" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>skills</label>
      <textarea name="skills"><%= searchOptions.skills %></textarea>
      <br />
    </div>
  </div>
  <div class="form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
  <input type="hidden" name="injectUrl" value="candidates/inject" />
</form>
<form method="POST" action="/candidates/inject">
  <br /><button class="btn btn-primary" type="submit">Inject Candidates</button>
</form>
<br />
<% if (candidates && candidates.length) { %>
<div><%= candidates.length %> candidates found</div>
<br />
<% candidates.forEach(candidate =>{ %>
<div class="btn-row">
  <div class="list-link">
    <a href="/candidates/<%= candidate.id %>">
      <%= candidate.attributes.firstName %> <%= candidate.attributes.lastName %>
      {<%= candidate.id %>}</a
    >
  </div>
</div>
<% }) %> <% } else { %>
<div>No candidates found.</div>
<% } %>
