<h2 class="page-header">Candidate (<%= candidate.id %>)</h2>
<div>firstName : <%= candidate.attributes.firstName %></div>
<div>lastName : <%= candidate.attributes.lastName %></div>
<div>email1 : <%= candidate.attributes.email1 %></div>
<div>title : <%= candidate.attributes.title %></div>
<div>
  Skills : <br />
  <%= candidate.attributes.skills %>
</div>
<% if (matchedKwds.length > 0) { %>
<h3 class="page-header">
  <%= matchedKwds.length %> keywords included in candidate's skills
</h3>
<%- include('../partials/kwdList', { kwds: matchedKwds }) %> <% } %>
