<h2 class="page-header">FieLDs <a href="/flds/new">Add</a></h2>
<form>
  <div>
    <label>field</label>
    <input type="text" name="field" value="<%= searchOptions.field %>" />
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<% flds.forEach(fld => { %>
<div class="btn-row">
  <div><%= fld.field %></div>
  <a class="btn btn-primary" href="/flds/<%= fld.id %>">View</a>
  <a class="btn btn-primary" href="/flds/<%= fld.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/flds/${fld.id}`}) %>
</div>
<% }) %>
