<div class="btn-row">
  <h2 class="page-header">
    DOCuments <a class="btn btn-primary" href="/docs/new">+</a>
  </h2>
</div>
<form action="/docs" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Id_Doc</label>
      <input type="number" name="Id_Doc" value="<%= searchOptions.Id_Doc %>" />
    </div>
    <div class="form-item">
      <label>DocName</label>
      <input type="text" name="docName" value="<%= searchOptions.docName %>" />
    </div>
    <br />
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>DocText</label>
      <textarea type="text" name="docText">
<%= searchOptions.docText %></textarea
      >
    </div>
    <div class="form-item">
      <label>DocElement</label>
      <input
        type="text"
        name="docElement"
        value="<%= searchOptions.docElement %>"
      />
    </div>
  </div>
  <br />
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<br />
<% docs.forEach(doc => { %>
<div><%= doc.docName %></div>
<div><%= doc.docText %></div>
<div class="btn-row">
  <a class="btn btn-primary" href="/docs/<%= doc.id %>">View</a>
  <a class="btn btn-primary" href="/docs/<%= doc.id %>/edit">Edit</a>

  <%- include('../partials/deleteForm', { url: `/docs/${doc.id}` }) %>
</div>
<% }) %>
