<h2 class="page-header">Search DOCuments</h2>
<form action="/docs" method="GET">
  <label>Id_Doc</label>
  <input type="number" name="Id_Doc" value="<%= searchOptions.Id_Doc %>" />
  <label>DocName</label>
  <input type="text" name="docName" value="<%= searchOptions.docName %>" />
  <br />
  <label>DocText</label>
  <textarea type="text" name="docText"><%= searchOptions.docText %></textarea>
  <label>DocElement</label>
  <input
    type="text"
    name="docElement"
    value="<%= searchOptions.docElement %>"
  />
  <br />
  <button type="submit">Search</button>
</form>
<br />
<% docs.forEach(doc => { %>
<div><%= doc.docName %></div>
<div><%= doc.docText %></div>
<a href="/docs/<%= doc.id %>">View</a>
<a href="/docs/<%= doc.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/docs/${doc.id}` }) %> <% }) %>
